<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Random Dog Facts</title>

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto:wght@400;500&display=swap" rel="stylesheet" />
  <link href="styles.css" rel="stylesheet" />
  <link href="custom.css" rel="stylesheet" />
</head>
<body>

  <nav data-bs-theme="dark" class="mb-3 navbar navbar-expand-md navbar-light bg-primary">
    <div class="container">
      <a href="#" class="heading navbar-brand">
        <img src="docker-logo.svg" height="25" class="d-inline-block align-top me-3" alt="Docker logo">
        Random Dog Facts
      </a>
    </div>  
  </nav>

  {{{ body }}}

</body>
</html>