name: Build and push image
on: ["push"]
jobs:
  build-image:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/petfactspls:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/petfactspls:${{ github.sha }}
  deploy-to-staging:
    needs: build-image
    if: github.ref != 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - uses: azure/setup-helm@v3
        with:
          version: 3.11.1
      - uses: tale/kubectl-action@v1
        with:
          base64-kube-config: ${{ secrets.KUBE_CONFIG }}
      - run: helm upgrade petfactspls --namespace=petfactspls-staging --set appEnv=staging --set image=${{ secrets.DOCKERHUB_USERNAME}}/petfactspls:${{ github.sha }} ./helm-chart

  deploy-to-prod:
    needs: build-image
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - uses: azure/setup-helm@v3
        with:
          version: 3.11.1
      - uses: tale/kubectl-action@v1
        with:
          base64-kube-config: ${{ secrets.KUBE_CONFIG }}
      - run: helm upgrade petfactspls --namespace=petfactspls-prod --set appEnv=prod --set image=${{ secrets.DOCKERHUB_USERNAME}}/petfactspls:${{ github.sha }} ./helm-chart
